*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgb(219, 219, 219);
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgb(7, 21, 70), rgb(3, 7, 21));
}

.info-box {
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;

    display: flex;
    flex-direction: column;
}
.info-box h1 {
    font-size: 4rem;
    font-weight: 600;
}
.info-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}
.info-box span {
    color: transparent;
    background: linear-gradient(to right, rgb(0, 210, 255), rgb(7, 14, 210));
    font-size: 2rem;

    background-clip: text;
}

.btn-group {
    gap: 1rem;

    display: flex;
}
.btn {
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    text-wrap: nowrap;

    border: 2px solid black;
    border-radius: 3rem;

    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn:hover {
    color: white;
    background-color: black;
}
.btn a {
    color: black;
    text-decoration: none;
    text-decoration-color: transparent;

    transition: 0.2s ease-in-out;
}
.btn:hover a {
    color: white;
    text-decoration: none;
    text-decoration-color: transparent;
}

header {
    align-items: center;
    justify-content: center;
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    top: 1rem;
    left: 50%;
    padding: 0.5rem 1.5rem;
    gap: 5rem;

    border-radius: 3rem;

    transform: translateX(-50%);
    display: flex;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;

    transition: 0.3s ease-in-out;
}
.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    gap: 2rem;

    display: flex;
}
li a {
    position: relative;
    color: white;
    font-weight: 300;
}
li a::before {
    position: absolute;
    background: linear-gradient(to right, rgb(0, 210, 255), rgb(7, 14, 210));
    content: '';
    width: 0;
    height: 5px;
    left: 0;
    top: 25px;

    border-radius: 1rem;

    transition: 0.3s ease-in-out;
}
li a:hover::before {
    width: 100%;
}

.visit-btn {
    color: white;
    background: linear-gradient(to right, rgb(0, 210, 255), rgb(7, 14, 210));
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    text-wrap: nowrap;

    border: none;
    border-radius: 3rem;

    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.visit-btn:hover {
    background: linear-gradient(to right, rgb(7, 14, 210), rgb(0, 210, 255));

    transform: scale(1.03);
}
.visit-btn a {
    color: white;
    text-decoration: none;
    text-decoration-color: transparent;

    transition: 0.2s ease-in-out;
}

#menu-icon {
    font-size: 2rem;

    display: none;
}

section {
    position: relative;
    width: 100%;
    min-height: 50vh;
    padding: 8rem 12%;
}

.section-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.info {
    align-items: center;
    justify-content: center;

    display: flex;
}
.info .info-container {
    align-items: center;
    justify-content: center;
    gap: 10rem;

    display: flex;
}
.info img {
    width: 20vw;

    /* border-radius: 50%; */
    border-radius: 3rem;
}

.social-networks {
    gap: 2rem;

    display: flex;
}
.social-networks i {
    font-size: 2.5rem;
    
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.social-networks i:hover {
    transform: scale(1.1);
}
.social-networks a {
    color: black;
}

.projects-grid {
    gap: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.project-card {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 2rem;
    gap: 1.5rem;
    
    border: 2px solid black;
    border-radius: 3rem;
    
    flex-direction: column;

    cursor: pointer;
    display: flex;
    transition: 0.3s ease-in-out;
}
.project-card:hover {
    color: white;
    background-color: black;
    
    transform: translateY(-10px)scale(1.02);
}
.project-card img {
    width: 20vw;

    border-radius: 1rem;
}
.project-card h3 {
    font-size: 2rem;
    font-weight: 500;
}
.project-card:hover .btn {
    color: white;

    border: 2px solid white;
}
.project-card:hover .btn:hover {
    color: black;
    background-color: white;
    
    border: 2px solid white;
}
.project-card:hover a {
    color: white;
    text-decoration: none;
    text-decoration-color: transparent;
}
.project-card:hover .btn:hover a {
    color: black;
    text-decoration: none;
    text-decoration-color: transparent;
}

.contact-box {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    gap: 2rem;

    display: flex;
    flex-direction: column;
}
.contact-info-container {
    justify-content: center;
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;

    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    border-radius: 2rem;

    display: flex;
}
.contact-info {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    gap: 0.5rem;
    
    display: flex;
}
.contact-info i {
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    top: 50%;
    left: 10px;
    
    border-radius: 50%;

    display: flex;
}
.contact-info a {
    color: black;
    font-size: larger;
    text-decoration: none;
    text-decoration-color: transparent;

    transition: all 300ms ease;
}
.contact-info a:hover {
    color: rgb(85, 85, 85);
    text-decoration: underline;
    text-decoration-color: rgb(181, 181, 181);
    text-underline-offset: 1rem;
}

footer {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;
    bottom: 0;
    left: 0;
    gap: 1rem;
    
    display: flex;
    flex-direction: column;
}
footer ul {
    align-items: center;
    gap: 3rem;

    display: flex;
}
footer ul li a {
    color: black;
    font-weight: 600;
}
.copyright {
    color: rgb(85, 85, 85);
    font-size: 300;
    margin-top: 2rem;
}


@media(max-width:1280px) {
    header {
        padding: 1rem 2rem;
        gap: 2rem;
    }

    .info .info-container {
        gap: 3rem;
    }

    .contact-box i {
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
    }
    .contact-box a {
        padding: 2rem 5rem;
        font-size: 1.5rem;
    }
}

@media(max-width:768px) {
    header {
        padding: 1rem 1rem;
        gap: 1rem;
    }
    header .logo {
        font-size: 1rem;
    }
    header .visit-btn {
        display: none;
    }

    .info-container {
        flex-direction: column;
    }

    .contact-box i {
        display: none;
    }
    .contact-box a {
        padding: 1rem 2rem;
        font-size: 1.8rem;
    }
}

@media(max-width:600px) {
    header #menu-icon {
        display: block;
    }

    header {
        padding: 1rem 5rem;
        gap: 8rem;
    }
    header .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        position: absolute;
        text-align: center;
        color: white;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        margin-top: 1rem;
        top: 100%;
        padding: 1rem;
        
        border-radius: 3rem;

        display: none;
        flex-direction: column;
    }
    .nav-links li {
        margin-top: 1.5rem;
        padding: 1rem;
    }
    .nav-links.active {
        display: flex;
    }

    .info-container img {
        width: 80vw;
    }

    .contact-box a {
        padding: 0.5rem 3rem;
        font-size: 1rem;
    }

    footer ul {
        gap: 1rem;
    }
}